@charset "UTF-8";

* {
	margin:0;
	padding:0;
}
.backround {
	background: url("Backround-night sky.png");
	z-index: 0
}
.Comic-Overlay {
	backround: transparent url("Comic_Overlay.png");
	z-index: 3;
	display: block;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	max-height: 1080;
	max-width: 1920;
	opacity:.9
}
.help {
	z-index:8;
	display:block;
	position:absolute;
	right: 1.6%;
	top:3.8%;
	opacity:.8}

.title-button{
	z-index: 9;
    display: block;
    position: absolute;
	scale:.6;
	bottom:.5%;
	right:0%;
	opacity:.6
}
.what-do {
	z-index: 10;
    display: block;
    position: absolute;
	scale:1;
	bottom:21%;
	right:-.5%;
}
.option-1 {
	z-index: 11;
    display: block;
    position: absolute;
	scale:.6;
	bottom:13%;
	right:3%;
}
.comic {
	backround: transparent url("Comic_Overlay.png");
	z-index: 2;
	display: block;
	position: absolute;
	top:.9%;
	bottom:0;
	left:27%;
	right:0;
	max-height: 846;
	max-width: 1920;
	opacity:1
}