@charset "UTF-8";
* {
    margin: 0;
    /* [disabled]max-height: 1080; */
    /* [disabled]max-width: 1920; */
}
/*help*/
.help {
	z-index: 6;
	display:block;
	position: absolute;
	right: 5px;
	opacity: .7
}
/*links*/

.credit {
    display: block;
    z-index: 5;
    max-height: 156px;
    max-width: 699px;
    bottom: 10%;
    left: 2%;
    position: absolute;
    animation-delay: 9s;
    animation: fade-title 10s;
}
.enter {
    display: block;
    z-index: 5;
    max-height: 156px;
    max-width: 699px;
    bottom: 10%;
    right: 10%;
    position: absolute;
    animation-delay: 9s;
    animation: fade-title 10s;
}

/*title */
@keyframes fade-title{
	0% {opacity:0; }
	100%{opacity:1; }
}
.title h1{
    z-index: 4;
    position: absolute;
    align-content: relative;
    width: 1271px;
    height: 372px;
   bottom: 45%;
    left: 17%;
    animation: fade-title 9s
}
/*ship*/


@keyframes move-ship {
	0% { opacity: 0; transform:translate(0px, 0px); }
	10% { opacity: 1; transform:translate(-300px, -100px); }
	25% { opacity: 1; transform:translate(-750px, -250px); }
	100%{opacity: 1; transform:translate(-3000px, -1000px);}
}	
.ship {
	display: block;
	z-index: 3;
	max-height: 200px;
	max-width: 300px;
	position: absolute;
 	 bottom: 0;
  	right: 0;
  	width: 300px;
	animation: move-ship 45s linear infinite
}
/* Backround css */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}

}
.stars, .twinkling, .backround{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}
.backround {
	background: url("Backround-night sky.png");
	z-index: 0
}
.stars {
  background:transparent url("Backround-stars.png") repeat top center;
  z-index:1;
}

.twinkling{
  background:transparent url("twinkle.png") repeat top center;
  z-index:2;
  animation:move-twink-back 200s linear infinite;
}
#help {
}
